# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
.vs
Release
Debug
*.sdf
*.pdb
*.tlb
*.vbr
*.fxp
*.opensdf
*.bak

# mstest test results
TestResults

*.user
*.suo
ClrHost/ClrHost.aps